<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneratorGrafiki.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeneratorGrafiki.Properties.Settings>
            <setting name="StartBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="EndBackColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="StartCharColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="EndCharColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial, 14.25pt</value>
            </setting>
        </GeneratorGrafiki.Properties.Settings>
    </userSettings>
</configuration>